{% extends "admin/base_site.html" %}
{% load static %}

{# Remove header entirely!! #}
{% block header %}{% endblock %}

{% block dark-mode-vars %}{% endblock %}
{% block theme-toggle %}{% endblock %}

{% block extrahead %}
    {{ block.super }}
    <link rel="stylesheet" type="text/css" href="{% static 'css/custom_admin.css' %}">
{% endblock %}

{#Set Amsterdam logo in the admin header#}
{#{% block branding %}#}
{#  <a class="navbar-brand" href="{% url 'admin:index' %}">#}
{#    <img src="{% static 'amsterdam-app-logo.svg' %}" alt="Logo" height="32">#}
{#  </a>#}
{#{% endblock %}#}

