{% extends "admin/base_site.html" %}
{% block content %}
  <h1>Notificatie versturen?</h1>
  <p>De notificatie wordt verstuurd aan {{ nr_sessions }} gebruikers.</p>

  <b>Voorbeeld weergave van bericht:</b>
  <blockquote><b>{{ notification.title }}</b><br>{{ notification.message }}</blockquote>

  <b>Budgetten selectie</b>
  {{ budgets }}
  <br>

  <form method="post">
    {% csrf_token %}
    <button type="submit" name="confirm" class="default">Nu versturen</button>
    <button type="submit" name="cancel" class="deletelink">Afbreken</button>
  </form>
{% endblock %}