# IDEs
.idea/
.vscode

# DB files
data/
data/db/

# Python cache
__pycache__/
**/pycache/
**/migrations/*~

# Python virtual environments
venv/
.venv/

# Environment files (e.g., DB passwords, sensitive data)
env/
.env
!manifests/env

# Coverage reports
.coverage

# Azurite
__azurite*
__blobstorage*

# Pytest
pytest.ini
.pytest_cache/

# Spectacular
openapi-schema.yaml

# Media files from local runs
media/

# docker-compose override files
docker-compose.override.yml