# IDEs
.idea/
.vscode

# DB files
data/
data/db/

# Python cache
__pycache__/
**/pycache/

# Python virtual environments
venv/
.venv/

# Environment files (e.g., DB passwords, sensitive data)
env/
.env
!manifests/env

# Coverage reports
.coverage

# Azurite
__azurite*
__blobstorage*

# Static files
static

# Pytest
pytest.ini
.pytest_cache/
