[tool.isort]
profile = "black"

[tool.autoflake]
ignore_init_module_imports = true

[tool.pytest.ini_options]
DJANGO_SETTINGS_MODULE = "core.settings.base"
python_files = ["tests.py", "test_*.py", "*_tests.py"]
cache_dir = "/tmp/pytest_cache"

[tool.ruff]
cache-dir = "/tmp/.cache/ruff"
[tool.ruff.lint]
# Enable flake8-bugbear (`B`) rules, in addition to the defaults.
select = ["E4", "E7", "E9", "F", "B"]
ignore = ["B904"]
# Avoid trying to fix flake8-bugbear (`B`) violations.
unfixable = ["B"]
[tool.ruff.lint.per-file-ignores]
"**/{settings}/*" = ["F403", "F405"]