django<5
djangorestframework
psycopg2-binary
uWSGI
drf_spectacular
python-dotenv

# Modules
django-cors-headers
django-nose
djangorestframework
djangorestframework-simplejwt
drf-yasg
pkcs7
djangorestframework-simplejwt

# Construction work
pillow

# Construction work ETL
aiohttp
tenacity

# Notifications
firebase_admin

# Azure
django-storages[azure]
azure-ad-verify-token
azure-core
azure-identity
azure-monitor-opentelemetry
azure-monitor-opentelemetry-exporter