django<5
djangorestframework
psycopg2-binary
uWSGI
drf_spectacular
python-dotenv
django-debug-toolbar

# Modules
djangorestframework-simplejwt
django-csp

# Construction work
pillow
pillow-heif

# Construction work ETL
aiohttp
tenacity

# Notifications
firebase_admin

# Azure
django-storages[azure]
azure-ad-verify-token
azure-core
azure-identity
azure-monitor-opentelemetry
azure-monitor-opentelemetry-exporter
